# User-specific files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-electron/
frontend/dist-ssr/
frontend/*.local
frontend/out/
frontend/dist-electron/

# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/tests/__pycache__/
backend/config.json
backend/build/
backend/dist/

# Global patterns
releases/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*



